.test {
    background-color:grey;
    font-size: 75px;
    font-weight: bolder;
    margin-right: 0%;
    color: white;
}

.login-container {
    font-size: 40px;

}
.sign-container{
    font-size: 30px;
}
hr.solid{
    border-top: 3px solid;
}

